
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');


*{
    margin: 0;
    padding: 0;
}
a:link , a:visited , li{
    list-style: none;
    text-decoration: none;
}


.menu li a{
    color: white;
}
.menu .logo a{
    color: #5e3315;
}
.menu li a:hover{
    color: #5e3315;
}
.web_body li{
    padding: 43px 0 0 80px;
}