*{
    margin: 0;
    padding: 0;
}

a , li{
    list-style: none;
    text-decoration: none;
    color: black;
}

.header{
    width: 90%;
    min-width: 1000px;
    height: 50px;
}
.header ul:nth-child(1){
    width: 100%;
    min-width: 1000px;
    height: 62px;
    display: flex;
    justify-content: right;
    margin-left: 12px;
}
.header ul:nth-child(1) li{
    padding: 20px 0;
    margin-right: 10px;
}
.header ul:nth-child(1) li a{
    border-top: 3px solid black;
    padding: 7px 10px 0 10px;
    font-size: 12px;
    font-weight: bold;
}
.header ul:nth-child(1) li:nth-child(4) img,
.header ul:nth-child(1) li:nth-child(5) img{
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
    right: 0;
}
.header ul:nth-child(1) li:nth-child(6) a{
    padding: 7px 7px 0 10px;
}
.header ul:nth-child(1) li:nth-child(6) img{
    width: 17px;
    height: 17px;
    position: relative;
    top: 5px;
    left: 0;
}

.header ul:nth-child(2){
    display: flex;
    justify-content: right;
}
.header ul:nth-child(2) li{
    float: left;
}
.header ul:nth-child(2) li a{
    font-size: 12px;
    font-weight: bold;
    padding-right: 11px;
}
.header ul:nth-child(2) img{
    width: 25px;
    height: 25px;
}


.main{
    width: 100%;
    min-width: 1000px;
    height: 110px;
}
.main ul{
    display: flex;
    justify-content: left;
}
.main li img{
    width: 170px;
    height: 100px;
    padding: 0 30px 0 145px;
}
.main li:nth-child(2){
    padding: 45px 0 0 40px;
}
.main li:nth-child(2) a{
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
}
.banner{
    width: 100%;
    min-width: 1000px;
}
.banner ul{
    width: 80%;
    margin: auto;
}
.banner li:nth-child(1) img{
    width: 1135px;
}
.banner li:nth-child(2){
    width: 30px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    top: 375px;
    left: 160px;
}
.banner li:nth-child(2) img{
    width: 70px;
    height: 70px;
    position: relative;
    top: 0;
    left: 0;

}
.banner li:nth-child(3){
    width: 30px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    top: 375px;
    right: 160px;
}
.banner li:nth-child(3) img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
}


.time{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.time ul:nth-child(1){
    width: 855px;
    height: 150px;
    border-bottom: 3px solid black;
}
.time .box li:nth-child(1){
    width: 840px;
    height: 60px;
    padding-top: 10px;
}
.time .box li:nth-child(1) img{
    width: 22px;
    float: left;
    padding-top: 30px;
}
.time .box li:nth-child(1) h2{
    float: left;
    font-size: 19px;
    font-weight: blod;
    letter-spacing: -2px;
    padding: 28px 0 0 10px;
}
.time .box li:nth-child(1) p{
    float: left;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 31px 0 0 20px;
}
.time .box li:nth-child(2) img{
    width: 26px;
    float: left;
    padding-top: 5px;
}
.time .box li:nth-child(2) h2{
    float: left;
    font-size: 19px;
    letter-spacing: 1px;
    padding: 7px 0 0 10px;
}
.time .box li:nth-child(2) p{
    float: left;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding: 11px 0 0 20px;
}
.time .box2{
    display: flex;
}
.time .box2 li{
    width: 125px;
    height: 65px;
    border-bottom: 3px solid rgb(99, 36, 157);
    margin: 85px 0 0 15px;
}
.time .box2 li a:nth-child(1){
    font-size: 13px;
    font-weight: bold;
    color: rgb(99, 36, 157);
    float: left;
    position: relative;
    top: 5px;
    left: 8px;
}



.banner2{
    width: 100%;
}
.banner2 .txt1{
    width: 80%;
    margin: auto;
}
.banner2 li h1{
    font-size: 35px;
    font-weight: bold;
    padding-top: 80px;
}
.banner2 .icon2{
    width: 120px;
    height: 20px;
    float: right;
    position: relative;
    left: 57px;
    bottom: 20px;
}
.icon2 li{
    float: left;
}
.icon2 li a{
    position: relative;
    top: 0;
}
.banner2 .icon2 li img{
    width: 25px;
}
.banner2 .icon2 li:nth-child(1){
    width:12px;
    overflow: hidden;
}
.banner2 .icon2 li:nth-child(1) img{
    position: relative;
    top: 0;
    left: 0;
}
.banner2 .icon2 li:nth-child(2) img{
    width:40px;
    height: 40px;
    position: relative;
    bottom: 7px;
    left: 0;
}
.banner2 .icon2 li:nth-child(3){
    width:12px;
    overflow: hidden;
}
.banner2 .icon2 li:nth-child(3) img{
    position: relative;
    top: 0;
    right: 15px;
}


.box3{
    width: 80%;
    min-width: 1000px;
    height: 525px;
    margin: auto;
}
.box3 ul{
    width: 100%;
    padding-top: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.box3 .txt li{
    width: 295px;
    height: 80px;
    position: relative;
    bottom: 10px;
    left: 0;
}
.box3 .txt p:nth-child(1){
    width: 70px;
    height: 22px;
    font-size: 12px;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 6px;
}
.box3 .txt p:nth-child(2){
    width: 47px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
    padding-top: 6px;
    position: relative;
    bottom: 28px;
    left: 77px;
}
.box3 .txt a{
    font-size: 14px;
    font-weight: bold;
    position: relative;
    bottom: 14px;
    left: 0;
}
.box3 .txt p:nth-child(4){
    font-size: 13px;
}
.box3 img{
    width: 250px;
}


.box4{
    width: 80%;
    height: 570px;
    margin: auto;
}
.box4 .sub{
    width: 100%;
    height: 45px;
    padding-top: 80px;
}
.box4 li img{
    width: 40px;
}
.box4 li h1{
    font-size: 35px;
    position: relative;
    bottom: 45px;
    left: 45px;
    font-weight: bold;
    padding: 0;
}


/* 탭메뉴_알림 */

.box4 .tab_menu{
    width: 50%;
    height: 43px;
    position: relative;
    top: 20px;
    left: 0;
    float: left;
}
.tab_menu .line{
    width: 570px;
    border-bottom: 1px solid gray;
    position: relative;
    top: 42px;
}
.tab_menu .active{
    width: 110px;
    height: 40px;
    text-align: center;
    border-bottom: 3px solid black; 
}
.tab_menu .active .btn{
    font-size: 19px;
    font-weight: bold;
    position: relative;
    top: 7px;
    left: 0;
}
.tab_menu .active .notice{
    width: 570px;
    height: 305px;
    border-bottom: 1px solid gray;
    margin-top: 17px;
    background-color: white;

}

.tab_menu .active .notice ul{
    width: 570px;
    height: 305px;
    padding-top: 10px;
}
.tab_menu .active .notice li{
    text-align: left;
    padding-top: 10px;
}
.tab_menu .active .notice .note1{
    width: 400px;
    height: 27px;
    list-style-type: disc;
    position: relative;
    top: 0;
    left: 30px;
    padding-top: 18px;
}
.tab_menu .active .notice .note1 a{
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}
.tab_menu .active .notice .note1 a:hover{
    text-decoration: underline;
}
.tab_menu .active .notice .note2{
    font-size: 14px;
    position: relative;
    right: 20px;
    bottom: 35px;
    float: right;
    line-height: 19px;
}


.bottom_img{
    width: 50%;
    height: 45px;
    position: relative;
    top: 0;
    left: 0;
    float: left;
}
/* .bottom_img li{
    width: 100%;
    height: 326px;
} */
.box4 .bottom_img img{
    width: 90%;
    height: 351px;
    position: relative;
    top: 19px;
    left: 58px;
}
